*{
    padding: 0;
    margin: 0;
}
/* common */
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

p{
    color: #627382;
}
.btn{
    background-color: #469165;
    color: white;
    border-radius: 4px;
    width: 185px;
    height: 45px;
    cursor: pointer;
}
.btn:hover{
    background-color: #36e080;
    color: rgb(1, 14, 8);
}

.btn-t:hover{
    background-color: #36e080;
    color: rgb(1, 14, 8);
}


.btn-t{
    background-color: transparent;
    color: white;
    border-radius: 4px;
    width: 185px;
    height: 45px;
    cursor: pointer;
    border:2px solid #F7F6F2;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 92px;
    margin: 20px 120px;
    max-width: 1600px;
    
}

.header ul{
      display: flex;
      gap: 30px;
      list-style: none;
}

.banner{
    background-image: url("./assets/hero-bg.png");
    background-repeat: no-repeat; 
    background-size: cover;      
    background-attachment: fixed;
    height: 670px;
    max-width: 1600px;
}

.hero-section{
    display: flex;
    flex-direction: column;
    gap: 25px;
    box-sizing: border-box;
    height: 670px;
    max-width: 1600px;
    text-align: center;
    padding: 150px 120px 134px 120px;
    
}
.hero-section h6{
    color: #36e080;
    border-radius: 50px;
    background-color: white;
    width: 200px;
    margin: 0px auto;
}
.hero-section p{
color: white;
}

.hero-section .h1{
    color: white;
    font-size: 48px;
}

.hero-section .h2{
    color: #30B868;
    font-size: 48px;
}

/* End */
/* start node-section */
/* ------------------------ */
.node-section{
    margin: 120px 120px;
}
.node{
    text-align: center;
}
.node strong{
    font-size: 48px;
}
.node p{
    color: #627382;
}

/* common section for card */
.card-section{
     margin: 120px 120px;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    max-width: 1600px;
}

.card{
    width: 320px;
    height: 300px;
    text-align: center;
    box-sizing: border-box;
    padding: 25px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    box-shadow: 5px 5px 10px #888888;
}
.card img{
    background-color: #F95555;
    background-size: 60px 60px;
    height: 32px;
    width: 32px;
    border-radius: 180px;
}
/*End common section for card */
/*start brian section  */
.brian-section{
    display: flex;
    margin: 120px 120px;
    gap: 60px;
    max-width: 1600px;
}

.brain-contain .bp{
    color: #30B868;
    font-size: 16px;
}
.brain-contain strong{
    font-size: 48px;
}

.brain-contain{
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: left;
    justify-content: center;
}

/*end brian section  */

.early-access{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 50px;
    background-color: #F7F6F2;
    width: 1360px;
    height: 385px;
    margin: 120px 120px;
    box-sizing: border-box;
    padding: 80px;

}
.early-access strong{
    font-size: 40px;
}

/* start footer */
.footer{
    background-color: #001931;
    height: 350px;
    max-width: 1600px;
}
.footer-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px 0px 120px 0px;
}
.social-icon{
    color: white;
    text-align: right;
    margin: 0px;
    margin-right: 120px;
}

.footer p{
    color: white;
}

.footer-line{
    width: 1360px;
    height: 1px;
    background-color: #2a5a86;
    margin-left: 120px;
    margin-bottom: 30px;
}

.end-footer{
    text-align: center;
    
}
/* end footer  */