*{
    padding: 0;
    margin: 0;
}
/* common */
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


.header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-height: 92px;
    margin: 20px 120px;
    max-width: 1600px;
    
}

.header ul{
      display: flex;
      gap: 30px;
      list-style: none;
}

.banner{
    background-image: url("./assets/hero-bg.png");
    background-repeat: no-repeat; 
    background-size: cover;      
    background-attachment: fixed;
    height: 670px;
    max-width: 1700px;
}
/* .hero{
    border: 2px solid green;
} */

.hero-section{
    box-sizing: border-box;
    height: 670px;
    width: 1600px;
    text-align: center;
    padding: 70px 120px 134px 120px;
}
.hero-section p{
color: white;
}

.hero-section .h2{
    color: #30B868;
}

/* End */
/* start node-section */
/* ------------------------ */
.node-section{
    margin: 25px 120px;
}
.node{
    text-align: center;
}
.node strong{
    font-size: 48px;
}
.node p{
    color: #627382;
}