*{
    padding: 0;
    margin: 0;
}
/* common */
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

p{
    color: #627382;

}


.header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-height: 92px;
    margin: 20px 120px;
    max-width: 1600px;
    
}

.header ul{
      display: flex;
      gap: 30px;
      list-style: none;
}

.banner{
    background-image: url("./assets/hero-bg.png");
    background-repeat: no-repeat; 
    background-size: cover;      
    background-attachment: fixed;
    height: 670px;
    max-width: 1700px;
}
/* .hero{
    border: 2px solid green;
} */

.hero-section{
    box-sizing: border-box;
    height: 670px;
    width: 1600px;
    text-align: center;
    padding: 70px 120px 134px 120px;
}
.hero-section p{
color: white;
}

.hero-section .h2{
    color: #30B868;
}

/* End */
/* start node-section */
/* ------------------------ */
.node-section{
    margin: 20px 120px;
}
.node{
    text-align: center;
}
.node strong{
    font-size: 48px;
}
.node p{
    color: #627382;
}

/* common section for card */
.card-section{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.card{
    width: 320px;
    height: 300px;
    text-align: center;
    box-sizing: border-box;
    padding: 25px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    box-shadow: 5px 5px 10px #888888;
}
.card img{
    background-color: #F95555;
    background-size: 60px 60px;
    height: 32px;
    width: 32px;
    border-radius: 180px;
}
/*End common section for card */